apiVersion: v1
kind: Service
metadata:
  name: ingestion-service
  namespace: nexus-logistics
spec:
  type: ClusterIP
  selector:
    app: ingestion-service
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
    - name: metrics
      port: 9090
      targetPort: 9090
